<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>Name: </b><%= item.name %></h3>
      <img src="<%= item.avatar_url %>">
      <p><b>Type of Clothing: </b><%= item.type %></p>
      <p><b>Color: </b><%= item.color %></p>
      <p><b>Material: </b><%= item.material %></p>
      <p><b>Last Worn: </b><%= item.lastWorn %></p>
      <p><b>Clean: </b>
        <% if (item.isClean) { %>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <% } else { %>
                <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
            <% } %>
      </p>
    </div>

    <a href="/items" class="btn btn-primary">Back</a>
    <a href="/items/<%= item._id %>/edit" class="btn btn-danger">Edit</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
